<h2>All Heroines</h2>
<p> <%= link_to "Add New Hero", new_heroine_path %></p>
<br>

<%= form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search By Power", :name => nil %>
  </p>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
